{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@app": "./src/app",
          "@utils": "./src/utils",
          "@components": "./src/components"
        }
      }
    ]
  ]
}